.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* body {
  background: url("https://wallpaperaccess.com/full/4128725.jpg") no-repeat
    center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} */

 /* body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-image: url("https://wallpaperaccess.com/full/4128725.jpg");
  
}  */
/* background-image: url("https://i.pinimg.com/originals/56/60/6e/56606ef5c5860bb627eec04fc19005ca.gif");  */

 .font-face-ps {
  font-family: "PokemonSolid";
} 


