.cardD {
  display: flexbox;
  border-style: solid;
  border-color: #df7042;
  border-radius: 1rem;
  border-width: 3px;
  height: 35%;
  width: 25%;
  margin: 8px;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: pokemonSolid;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: auto;
  position: relative;
  margin-left: 30%;
}

btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
