* {
  margin: 0;
  padding: 0;
}

.container-detail {
  display: cover;
  background-image: url("https://wallpapercave.com/wp/wp2763507.png");
  background-position: top;
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 130%;
  margin: auto;
}

.cardD {
  display: cover;
  background-position: 2rem;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.5);
  height: 82%;
  width: 34%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  align-content: center;
  justify-content: center;
  left: 1%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px 32px 9px 9px;
  font-family: "PokemonSolid";
}

btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.img {
  align-items: center;
  justify-content: center;
}

.statsOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.statsTwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.statsBackground {
  border: solid;
  border-radius: 5px;
  border-color: rgb(50, 49, 49);
  background-color: #fcd4c2;
  align-items: center;
  justify-content: space-around;
  padding: 4px 4px 5px 5px;
  margin: 10px 10px;
}

@media (max-width: 600px) {
  .cardD {
    width: 80%;
    height: 85%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .cardD {
    width: 80%;
    height: 65%;
  }
}

@media (min-width: 769px) {
  .cardD {
    width: 50%;
    height: 75%;
  }
}
