* {
  margin: 0;
  padding: 0;
}

.background {
  display: cover;
  background-image: url("https://wallpapercave.com/wp/wp2763507.png");
  background-position: top;
  position: absolute;
  width: 100%;
  margin: 0%;
}

.selectOne {
  display: inline-block;
  flex-direction: column;
  font-family: "PokemonSolid";
  font-size: 14px;
  border: solid;
  padding: 16px 32px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  background-color: antiquewhite;
  
}

.selectTwo {
  display: inline-block;
  flex-direction: column;
  font-family: "PokemonSolid";
  font-size: 14px;
  border: solid;
  padding: 16px 32px;
  margin: 10px 8px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  background-color: antiquewhite;
}
.selectThree {
  display: inline-block;
  flex-direction: column;
  font-family: "PokemonSolid";
  font-size: 14px;
  border: solid;
  padding: 16px 32px;
  margin: 10px 8px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  background-color: antiquewhite;
}
.selectFour {
  display: inline-block;
  flex-direction: column;
  font-family: "PokemonSolid";
  font-size: 14px;
  border: solid;
  padding: 16px 32px;
  margin: 10px 8px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  background-color: antiquewhite;
}

.selectFive{
  display: inline-block;
  flex-direction: column;
  font-family: "PokemonSolid";
  font-size: 14px;
  border: solid;
  padding: 16px 32px;
  margin: 10px 8px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  background-color: antiquewhite;
}

.btn {
  display: inline-block;
  font-family: "PokemonSolid";
  font-size: 16px;
  border: solid;
  padding: 15px 32px;
  margin: 10px 5px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  cursor: pointer;
  background-color: antiquewhite;
}
.ReloadButton {
  display: flexbox;
  font-family: "PokemonSolid";
  align-items: flex-start;
  font-size: 16px;
  border: solid;
  padding: 16px 32px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  cursor: pointer;
  background-color: antiquewhite;
  /* margin: 10px 5px 1px 2px; */
  
}

.btnCreate {
  display: flexbox;
  font-family: "PokemonSolid";
  align-items: flex-end;
  font-size: 16px;
  border: solid;
  padding: 16px 32px;
  text-align: center;
  box-shadow: 3px 3px 13px #fd540d;
  cursor: pointer;
  background-color: antiquewhite;
  margin-left: 80%;
  margin-top: 10px;
}

.pokemonCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke {
  font-size: 100px;
 
}

h3 {
  color: #304178;
  font-size: 30px;
}

h2 {
  color: #fd540d;
  font-size: 15px;
}

.title {
  margin-top: 1px;
}
