
.card {
  border-style: solid;
  border-color: #df7042;
  border-radius: 1rem;
  border-width: 3px;
  height: 22rem;
  width: 22rem;
  margin: px;
  margin-bottom: 8px;
  margin-top: 40px;
  text-align: center;
  font-family: "pokemonSolid";
  background-color: antiquewhite;
  display: cover;
  position: relative;
  align-content: center;
  justify-content: center;
  left: 1%;
  bottom: 7%;
  margin-left: auto;
  margin-right: 20px;
  padding: 10px;
  font-family: "PokemonSolid";
  flex-wrap: wrap;
  flex-direction: row;
  flex: auto;
  padding: auto;
  box-shadow: 3px 3px 13px #FD540D;
}
.img {
  width: 180px;
  height: 220px;
}
