* {
  margin: 0;
  padding: 0;
}
.landing-container {
  display: cover;
  background-image: url("https://wallpapercave.com/wp/wp2763507.png");
  background-size: cover;
  background-position: top;
  position: absolute;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "PokemonSolid";
  font-size: 65px;
  justify-content: center;
  align-items: center;
  color: #7f201a;
}

.landing-btn {
  display: inline-block;
  font-family: "PokemonSolid";
  font-size: 30px;
  border-radius: 15px;
  width: 15%;
  padding: 9px 29px 9px 29px;
  box-shadow: 3px 3px 13px #fd540d;
  margin-top: 23%;
  cursor: pointer;
  background-color: antiquewhite;
}
